@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-white font-display antialiased overflow-x-hidden min-h-screen;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-card-dark/70 backdrop-blur-md border border-card-border;
  }
  
  .card-gradient {
    background: linear-gradient(180deg, rgba(25, 34, 51, 1) 0%, rgba(16, 22, 34, 1) 100%);
  }
}
